#FoundResults {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#FoundResults > h3 {
  font-family: "PTSasn-Bold";
  color: rgb(223, 223, 223);
}

#LoadMore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(20vh + 2px);
  position: relative;
  bottom: 0;
}
#LoadMore > button {
  padding: calc(1vw + 2px);
  background: rgb(236, 129, 62);
  box-shadow: 0 0 0.5vw 0.5vw rgba(236, 129, 62, 0.5);
  border: none;
  color: rgb(223, 223, 223);
  opacity: 0;
  transition: 1s opacity;
}

.BookCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10% 5%;
}
.BookCard > div:nth-child(1) {
  width: 100%;
  height: calc(100px + 10.5vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.BookCard > div:nth-child(1) > img {
  height: 90%;
  box-shadow: calc(0.75vw + 5px) calc(0.75vw + 5px) rgba(31, 31, 31, 0.5);
  background-color: rgb(236, 129, 62);
}
.BookCard > div:nth-child(2) {
  width: 100%;
  height: auto;
}
.BookCard > div:nth-child(2) > * {
  font-size: calc(1vmax + 8px);
  color: rgb(223, 223, 223);
  text-shadow: 2px 3px 4px rgba(31, 31, 31, 0.5);
}
.BookCard > div:nth-child(2) > h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: PTSasn-Bold;
  color: rgb(236, 129, 62);
}

#BlockBook {
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80%;
  width: 100%;
  transform: translateX(-100%);
  transition: 1s transform;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#BlockBook > div:nth-child(1) {
  background: rgb(129, 32, 12);
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#BlockBook > div:nth-child(1) > img {
  height: 70%;
  background: rgb(236, 129, 62);
  box-shadow: calc(2vw + 5px) calc(2vw + 5px) rgba(31, 31, 31, 0.5);
}
#BlockBook > div:nth-child(2) {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background: rgb(212, 129, 40);
  width: 60%;
  height: 100%;
}
#BlockBook > div:nth-child(2) > div:nth-child(1) > * {
  text-align: left;
}
#BlockBook > div:nth-child(2) > div:nth-child(1) > h5 {
  margin-bottom: calc(0.5vw + 2px);
  margin-top: calc(0.5vw + 2px);
}
#BlockBook > div:nth-child(2) > div:nth-child(2) {
  margin-bottom: 2.5vw;
  margin-top: 2.5vw;
  background: rgb(236, 129, 62);
  width: 100%;
  overflow-y: scroll;
  height: auto;
  border: calc(0.15vw + 2px) solid rgb(31, 31, 31);
  box-shadow: calc(1.5vw + 5px) calc(1.5vw + 5px) rgba(31, 31, 31, 0.5);
}
#BlockBook > div:nth-child(2) > div:nth-child(2) > p {
  height: auto;
  padding: 1.5%;
  width: 100%;
}
#BlockBook > div:nth-child(2) > div:nth-child(3) {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#BlockBook > div:nth-child(2) > div:nth-child(3) > button {
  width: 10vw;
  height: 5vw;
  background-color: rgb(129, 32, 12);
  background-image: url("./../../assets/free-icon-back-3114883.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

/*# sourceMappingURL=Divs.css.map */
