@import "./../../style/Color_And_Mixin";

header{
  position: fixed;
  z-index: 8;
  background: $Black;
  width: 100%;
  height: calc(20vh + 12px);
  box-shadow: 0 0 24px 24px $BlackA;
  @include FlexRowCeCe();
  > div
  {
    height: 100%;
    width: 100%;
    @include FlexRowSeCe();
    > h1
    {
      color: $White;
    }
    > div
    {
      height: 15vh;
      @include FlexColumnSbCe();
      > #inputDiv
      {
        width: 85%;
        background: $White;
        @include FlexRowFsCe();
        height: calc(3vw + 2px);
        > input
        {
          width: 100%;
          background: none;
          border: none;
          height: 3vw;
          padding-left: 1vw;
          padding-right: 0.5vw;
        }
        > input:focus
        {
          outline: none;
        }
        > button
        {
          height: 3vw;
          width: 3vw;
          background: none;
          border: none;
          @include FlexRowCeCe();
          > div
          {
            width: 2vw;
            height: 2vw;
            background-image: url("../../assets/search-svgrepo-com.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
      > div
      {
        @include FlexRowCeCe();
        > div
        {
          margin-left: 2vw;
          margin-right: 2vw;
          @include FlexColumnCeCe();
          > p {
            margin-top: 1vw;
            margin-bottom: 0.5vw;
            color: $White;
          }
          > select {
            background: $White;
            border: none;
            width: calc(15vw + 12px);
          }
          > select:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait)
{
  header {
    > div {
      @include FlexColumnCeCe();

      > div {
        @include FlexColumnCeCe();

        > #inputDiv {
          height: calc(3vw * 2 + 2px * 2);

          > input {
            height: 6vw;
            padding-left: 2vw;
            padding-right: 1vw;
          }

          > button {
            height: 6vw;
            width: 6vw;

            > div {
              width: 4vw;
              height: 4vw;
            }
          }
        }

        > div {
          > div {
            margin-left: 4vw;
            margin-right: 4vw;

            > p {
              margin-top: 2vw;
              margin-bottom: 1vw;
              color: $White;
            }

            > select {
              background: $White;
              border: none;
              width: calc(30vw + 24px);
            }

            > select:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}