@import "Color_And_Mixin";

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: calc(1.5vw + 2px);
  font-family: "PTSasn-Bold";
  text-shadow: 2px 3px 4px rgba(74,74,74,0.7);
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: auto;
  font-style: auto;
}

@font-face {
  font-family: 'PTSasn-Bold';
  src: url("../fonts/PTSans-Bold.ttf") format('truetype');
  font-weight: auto;
  font-style: auto;
}

html
{
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 1vw; /* Ширина полосы */
  background-color: rgba(0,0,0,0); /* Цвет фона */
}

::-webkit-scrollbar-thumb {
  background-color: $Rich_red-brown;
}

/* Создание стиля для трека */
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0); /* Цвет трека */
}

h6
{
  font-size: calc(1.5vw + 2px);
}

h5
{
  font-size: calc(1.75vw + 4px);
}

h4
{
  font-size: calc(2vw + 6px);
}

h3
{
  font-size: calc(2.25vw + 8px);
}

h2
{
  font-size: calc(2.5vw + 10px);
}

h1
{
  font-size: calc(2.75vw + 12px);
}

body
{
  background: $Light_brown;
}

.App{
  @include FlexColumnFsCe();
  overflow: hidden;
}