$Summer_Sun: rgb(255,177,66);
$Pastel_Orange: rgb(255, 216, 138);
$Pastel_OrangeA: rgba(255, 216, 138, 0.5);
$Vanilla: rgb(255, 249, 209);
$VanillaA: rgba(255, 249, 209, 0.5);
$Black: rgb(74,74,74);
$BlackA: rgba(74,74,74,0.5);

@mixin FlexColumnFsCe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexColumnSeCe{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin FlexColumnSbCe{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin FlexRowCeCe
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowFsCe()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

