$Orange: rgb(212, 129, 40);
$Moderate_orange: rgb(236, 129, 62);
$Moderate_orangeA: rgba(236, 129, 62, 0.5);
$Rich_red-brown: rgb(129, 32, 12);
$Rich_red-brownA: rgba(129, 32, 12, 0.5);
$Light_brown: rgb(154, 121, 82);
$Grey_Silk: rgb(207, 196, 168);
$Grey_SilkA: rgba(207, 196, 168, 0.5);
$Grayish_brown: rgb(92, 71, 47);
$White: rgb(223,223,223);
$WhiteA: rgba(223,223,223,0.5);
$Gray: rgb(112,112,122);
$Black: rgb(31,31,31);
$BlackA: rgba(31,31,31,0.5);

@mixin blur($value: 6px)
{
  backdrop-filter: blur($value);
  -webkit-backdrop-filter: blur($value);
}

@mixin FlexColumnFsCe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexColumnFeCe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin FlexColumnSeCe{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin FlexColumnSeFs()
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

@mixin FlexColumnSbFs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin FlexColumnSbCe{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin FlexColumnCeCe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowCeCe
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowSeCe
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@mixin FlexRowFsCe()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexRowFeCe()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

